.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Box {
    border-radius: 8px; 
    margin: 5px; 
    padding: 5px;
}